{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block body %}

<div class="alert alert-dark text-center p-0" role="alert">
    <small >Delivery charges may apply</small>
</div>


<div class="jumbotron bg-white m-0 ">

    <div class="row container m-0 p-0" >

      <div class="col-12 col-md-6 text-center order-1">
        <img src="/media/{{ object.image }}" style="max-width: 250px;max-height: 250px">
      </div>
      <div class=" col-12 col-md-6 order-2 m-0 p-0">
          <h1 class="font-weight-normal">{{ object.title }}</h1>
          <p class="lead font-weight-bold"><span>₹</span>{{ object.real_price }}</p>
           <button type="button" class="btn btn-primary m-0" data-toggle="modal" data-target="#exampleModal">
              Buy
            </button>
   <hr class="my-4">
          <div style="overflow-wrap: break-word;">
              <p>{{ object.description|wordwrap:10 }}</p>
        </div>


      </div>
    </div>
</div>






<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Shipping Address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'indfdfex' %}" method="post">{% csrf_token %}

            <input type="hidden" name="id_product" value="{{ object }}">
            {{ form.Name|as_crispy_field }}<br>
            {{ form.Email|as_crispy_field }}<br>
            <select name="product" required="" id="id_product" hidden>
             <option value="{{ object.id }}" selected="">{{ object }}</option>
            </select>
            {{ form.Contact|as_crispy_field }}<br>
            {{ form.Address1|as_crispy_field }}<br>
            {{ form.Address2|as_crispy_field }}<br>
            {{ form.City|as_crispy_field }}<br>
            {{ form.State|as_crispy_field }}<br>
            {{ form.Pincode|as_crispy_field }}<br>

            <input type="submit" class="btn btn-primary">

       </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

</div>




{% endblock%}
